## Imports

In [91]:
# visualize using matplotlib and/or seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Data paths

In [98]:
data_paths = {
    'riket2023_åk9_np': "data/riket2023_åk9_np.xlsx",
    'betyg_o_prov_riksnivå': "data/betyg_o_prov_riksnivå.xlsx",
}

nationwide2023_grade9_nt = data_paths['riket2023_åk9_np']

grades_and_tests_national_level = data_paths['betyg_o_prov_riksnivå']

# Read and process Excel file

In [133]:
# Define the sheet names
sheet_names = ['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk']

# Initialize an empty dictionary to store DataFrames for each sheet
dfs = {}

# Loop through the sheet names and read each sheet into a DataFrame
for sheet_name in sheet_names:
    df = pd.read_excel(nationwide2023_grade9_nt, skiprows=8, sheet_name=sheet_name)
    
    # Rename the columns directly
    df.columns = [
        "Plats", "Huvudman",
        "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)",
        "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)",
        "Totalt (Poäng)", "Flickor (Poäng)", "Pojkar (Poäng)"
    ]

    # Store the DataFrame in the dictionary
    dfs[sheet_name] = df # dfs contains DataFrames for each sheet with the correct column names

# Access the DataFrame for the 'Math' sheet:
dfs['Matematik'].head()

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (Poäng),Flickor (Poäng),Pojkar (Poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7